<div class="about">
		<div class="col-log-10 col-lg-offset-1">
				</nav>
			</div>
		</div>
		</header>
		<div class="col-lg-10 col-lg-offset-1">
			<div class="col-lg-6">
				<div class="about_image"></div>
			</div>
			<div class="col-lg-6">
				<div class="subtitle_box">
					<div class="about_subtitle">
						<p>Find your<br>
						own<br>
						students and<br>
						teachers</p>
					</div>
				</div>
					<div class="about_text">
						<p>あなたの教えたい、学びたい言語にあった<br>
						パートナーを地域ごとに<br>
						検索できます。<br>
						早速Findしてみましょう！</p>
					</div>
					<%= link_to rules_path do %>
					<div class="rules_animation">Rules!</div>
					<% end %>
			</div>
		</div>
	</div>