	<div class="col-lg-10 col-lg-offset-1">
		<div class="rules_background">
			<div class="rules_texts">
				<div class="rules_headline">
					<h2 class="headline_text">Rules<h2>
				</div>
				<img class="rules_image1" src="image/cafe.png">
				<div class="rules_text">
					<p>先生が場所の指定をします。<br>
						(最寄駅を使わないようにしましょう)<br>インスペース、空いているカフェがおすすめです。</p>
				</div>
				<img class="rules_image2" src="image/arrow.png">
				<img class="rules_image3" src="image/boy.png">
				<div class="rules_text">
					<p>レッスン後は必ず先生から店を出るようにしましょう</p>
				</div>
				<img class="rules_image4" src="image/watch.png">
				<div class="rules_text">
					<p>先生も生徒も遅刻は厳禁！時間を守りましょう。<br>
					先生が遅刻した場合は遅刻分レッスンを延長、<br>生徒が遅刻した場合はレッスンは短くなります。<br>
					(連絡無しに15分遅れた場合は帰ってOK、運営にリポートしてください。ペナルティが課されます。)</p>
				</div>
				<img class="rules_image5" src="image/phone.png">
				<div class="rules_text">
					<p>プライベート連絡先交換はNG</p>
				</div>
				<img class="rules_image6" src="image/boy.png">
				<img class="rules_image7" src="image/woman.png">
				<div class="rules_text5">
					<p>原則マンツーマンレッスン。<br>
					グループレッスンは自己責任で。</p>
				</div>
				<img class="rules_image8" src="image/money.png">
				<div class="rules_text">
					<p>お支払いはレッスン後。</p>
				</div>
				<img class="rules_image9" src="image/heart.png">
				<div class="rules_text">
					<p>生徒は気に入った先生をいいねしてあげましょう。<br>
					一人何回でもOK。10いいねするとコメントが記入できます。</p>
				</div>
			</div>
		</div>
	</div>