<div class="top_back_image">
	<div class="top_image_box">
		<div class="top_image">
			<div class="top_top">
				<div class="top_box_1">
					<%= link_to about_path do %>
						<div class="top_text_1">
							About
						</div>
					<% end %>
				</div>
				<div class="top_box_2">
					<%= link_to students_path do %>
						<div class="top_text_2">
							Find People
						</div>
					<% end %>
				</div>
			</div>
			<div class="top_middle">
				<div class="top_box_3">
					<%= link_to new_user_session_path do %>
						<div class="top_text_3">
							Log In
						</div>
					<% end %>
				</div>
				<div class="top_box_4">
					<%= link_to new_user_registration_path do %>
						<div class="top_text_4">
							Sign Up
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>