<div class="rules_image">
	<div class="col-lg-10 col-lg-offset-1">
			<div class="rules_texts">
				<div class="rules_headline">
					<h2>Rules</h2>
				</div>
				<img class="rules_image6" src="assets/boy.png">
				<img class="rules_image7" src="assets/woman.png">
				<div class="rules_text">
					<p>予約は先生が作ります。<br>
					   原則マンツーマンレッスン。<br>
					   グループレッスンは自己責任としてください。</p>
				</div>
				<img class="rules_image8" src="assets/money.png">
				<div class="rules_text">
					<p>お支払いはレッスン後。</p>
				</div>
				<img class="rules_image4" src="assets/watch.png">
				<div class="rules_text">
					<p>先生も生徒も遅刻は厳禁！時間を守りましょう。<br>
					   (もしも遅刻があった場合は、『終了したレッスン』から運営にリポートしてください。<br>
					   強制退会などのペナルティが課されます。)</p>
				</div>
				<img class="rules_image5" src="assets/phone.png">
				<div class="rules_text">
					<p>プライベート連絡先交換はNG</p>
				</div>
				<img class="rules_image9" src="assets/heart.png">
				<div class="rules_text">
					<p>生徒は気に入った先生をいいねしてあげましょう。<br>
				</div>
			</div>
	</div>
</div>