/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require flat-ui
 *= require_tree .
 *= require_self
 */

.top_top  {font-family: 'Comic Sans MS';}
.top_middle {font-family: 'Comic Sans MS';}


table {
	border-collapse: collapse;
}

tr {
	border-bottom:1px dashed #ccc;
}

h2{
position: relative;
display: inline-block;
margin-bottom: 1em;
}

h2:before {
content: '';
position: absolute;
bottom: -15px;
display: inline-block;
width: 60px;
height: 5px;
left: 50%;
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
background-color: black;
border-radius: 2px;
}

/*top*/
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.header_box {
	width: 100%;
	height: 100%;
	background-color: blue;
}

.top_image_box {
	/*margin-top: 100px;
	margin-left: 100px;*/
	width: 100%;
	height: 820px;
}

.top_image {
	background-position: top center;
	background-image: url(top_image.jpg);
	background-size: cover;
	background-position: fixed;
	position: relative;
	width: 100%;
	height: 820px;
	margin-top: -20px;
	opacity: 0.8;
/*	-webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
*/}


.logo_box {
	width: 100%;
}

.top_header {
	width: 100%;
	background-color: rgba(0,43,92,.8);
}

.top_logo_box {
	width: 80px;
	height: 100px;
	margin-left: 20px;
	color: white;
}

.top_logo {
	height: 80px;
	display: block;
	color: white;
}

.top_top {
	width: 100%;
	height: 470px;
}

.top_box_1 {
	width: 260px;
	height: 260px;
	background-color: transparent;
	float: left;
	margin: 50px 0 0 50px;
	border: 2px solid black;
}

.top_box_1:hover {
  background-color: rgba(0, 0, 0, .7);
  border: 3px solid white;
}


.top_box_2 {
	width: 260px;
	height: 260px;
	background-color: transparent;
	float: left;
	margin: 50px 0 0 50px;
	border: 3px solid black;
}

.top_box_2:hover {
  background-color: rgba(0, 0, 0, .7);
  border: 3px solid white;
}


.top_middle {
	width: 100%;
}

.top_box_3 {
	width: 260px;
	height: 260px;
	background-color: transparent;
	float: left;
	margin-left: 50px;
	border: 3px solid black;
}

.top_box_3:hover {
  background-color: rgba(0, 0, 0, .7);
  border: 3px solid white;
}


.top_box_4 {
	width: 260px;
	height: 260px;
	background-color: transparent;
	float: left;
	margin-left: 50px;
	border: 2px solid black;
}

.top_box_4:hover {
  border: 3px solid white;
  background-color: rgba(0, 0, 0, .7);
}

.top_text_1 {
	width:100%;
	text-align: center;
	margin-top: 80px;
	font-size: 50px;
	color: white;
}

.top_text_2 {
	width:100%;
	text-align: center;
	margin-top: 50px;
	font-size: 50px;
	color: white;
}

.top_text_2:hover {
}

.top_text_3 {
	width:100%;
	text-align: center;
	margin-top: 80px;
	font-size: 50px;
	color: white;
}

.top_text_4 {
	width:100%;
	text-align: center;
	font-size: 50px;
	margin-top: 80px;
	color: white;
}

.session_box {
	width: 400px;
	margin: 200px 0 0 200px;
	background-color: white;
	opacity: 0.8;
	text-align: center;
}

.buttons {
	text-align: center;
}

.btn-default {
	margin-top: 2px;
    border-radius: 0;
    background-color: #CCC;
    color: black;
    font-family: 'Avenir', serif;
}

.btn-black {
	margin-top: 5px;
    border-radius: 0;
    background-color: #AD002D;
    color: white;
    font-family: 'Avenir', serif;
}

.log_in {
	font-size: 30px;
}

.sign_up {
	font-size: 30px;
	margin-top: 3px;
}

.about {
	margin-top: 100px;
}

.triangle_animation {
  animation: Triangle_animation1 0.5s infinite;
}

@keyframes Triangle_animation1{
  50%{
    opacity: 0;
  }
}

/*サインアップ画面*/
.top_box {
	width: 300px;
	text-align: center;
	margin: 0 auto;
	background-color: gray;
	border-radius: 30px;
}

.flash_message {
	text-align: center;
	color: #D53E62;
}

/*about*/

header {
	width: 100%;
	float: left;
}

.container-fluid {
	margin-top: 120px;
}

.nav_box {
	width:100%;
	float: left;
	border-top: 2px dotted #CCC;
	border-bottom: 2px dotted #CCC;
	background-color: white;
	z-index: 9999;
	position: fixed;
	margin-top: -15px;
}

.about_logo_box {
	float: left;
	margin-left: 39px;
}

.about_logo {
	display: block;
	margin: 0 auto;
}

.nav_right_box {
	float: left;
	width: 30%;
}

.nav_list_item_right {
	float: right;
	padding: 55px 30px 0 20px;
	font-size: 20px;
}

.about_image {
	background-image: url(about_image.jpg);
	background-size: cover;
	width: 100%;
	height: 600px;
}

.subtitle_box {
	height: 300px;
	opacity: 0.6;
	background-color: #FFECE9;
}

.about_subtitle {
	padding-top: 50px;
	font-size: 30px;
	text-align: center;
	border-bottom: solid 1px;
}

.about_text {
	text-align: center;
	font-size: 15px;
	margin-top: 100px;
}

.rules_animation {
	padding-top: 50px;
	text-align: center;
	font-size: 25px;
	animation: Rules_animation1 1s infinite;
}

@keyframes Rules_animation1 {
	50%{
		color: #F7819F;
	}
}


.search_box {
	width: 100%;
	height: 100%;
    background-color:  #C2E5FF;
    border: 2px dashed #fff;
    border-radius: 8px;
    box-shadow: 0 0 0 4px  #C2E5FF;
    color: #1B1C80;
    margin: 2em 0;
    padding: 2em;
}

.search_text {
	text-align: center;
}

caption {
	text-align: center;
}

.index_img img {
	width: 250px;
	height: 250px;
	float: left;
}

.index_img:nth-child(3n+2) {
	margin-right: 30px;
	margin:left: 30px;
	width: 200px;
	height: 2
}

.index_img:nth-child(n + 3){
	margin-top: 20px;
}

.index_img:hover {
    transition:all 0.5s ease; /*0.5秒かけて要素を変化させる*/
    opacity: 0.7;/*要素の透明度を指定*/
    filter: alpha(opacity=70); /*ie6、7の透明度指定*/
    /*ちなみにie8の透明度指定はこれ→ -ms-filter: "alpha(opacity=70)";*/
}

.index_box {
	width: 290px;
	height: 400px;
	padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}

.user_info {
	text-align: center;
}

.user_info_text {
	margin: 30px 0 30px 0;
}

.user_img img {
	width: 330px;
	height: 330px;
	display: block;
	margin: 2px auto;
	border: 6px solid #CCC;
}

.table {
	border: 2px;
}

.student_info {
	text-align: center;
	border-bottom: 1px solid #CCC;
}

.student_info_text {
	margin: 30px 0 30px 0;
	text-align: center;
}

.teacher_info {
	text-align: center;
	border-bottom: 1px solid #CCC;
}

.teacher_info_text {
	margin: 30px 0 30px 0;
}

.t-header {
	width: 100%;
	border-bottom: 1px solid #CCC;
}

.t-background {
	width: 100%;
	height: 270px;
	margin-top: 100px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.t-bring {
	width: 100%;
	border-bottom: 1px solid #CCC;
}

.t-place-1 {
	margin: 50px 0 50px 0;
	border-bottom: 1px solid #CCC;
}

.t-place-2 {
	margin: 50px 0 50px 0;
	border-bottom: 1px solid #CCC;
}

.t-place-3 {
	margin: 50px 0 50px 0;
	border-bottom: 1px solid #CCC;
}

.s-header {
	width: 100%;
	border-bottom: 1px solid #CCC;
}

.area_box {
	width: 300px;
	height: 40px;
	background-color: #CCC;
	border-radius: 50px;
	position: inline-block;
	margin: 0 auto;
}

.s-message {
	width: 100%;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.s-what_to_learn {
	margin: 50px 0 50px 0;
	border-bottom: 1px solid #CCC;
}

.icon-color {
	color: #AD002D;
}

.reservation {
	padding-top: 50px;
}

.reservation_box {
	width: 400px;
	height: 400px;
	margin: 0 auto ;
}

.category_box {
    padding: 20px 15px;
    margin: 30px 0;
    background: #f0f7ff;
    border: dashed 2px #5b8bd0;/*点線*/
}

ul.category {
  color: #1e366a;
  border-top: solid #1e366a 1px;/*上のボーダー*/
  border-bottom: solid #1e366a 1px;/*下のボーダー*/
  padding: 0.5em 0 0.5em 1.5em;
}

li.category_list {
  line-height: 1.5;
  padding: 0.5em 0;
}

.request_text {
	text-align: center;
}

.rules_background {
	width: 100%;
	height: 3000px;
	background-image: url(rules_background.png);
	background-size: cover;
	background-attachment: fixed;
	background-position: top center;
}

.rules_headline {
	text-align: center;
	margin: 0 auto;
	width: 200px;
	height: 100px;
	background: rgba(255,255,255,.5);
}

.rules_texts {
	text-align: center;
}

.rules_text {
	margin: 0 auto;
	width: 400px;
	padding: 30px 0 30px 0;
	background: rgba(255,255,255,.5);
	border-radius: 20px;
}

.rules_headline {
	border-bottom : 10px;
}

.rules_image1 {
	padding-top: 100px;
}

.rules_image2 {
	padding-top: 100px;
}

.rules_image4 {
	padding-top: 100px;
}

.rules_image5 {
	padding-top: 100px;
}

.rules_image1 {
	padding-top: 100px;
}

.rules_image1 {
	padding-top: 100px;
}

.rules_image1 {
	padding-top: 100px;
}

.room_box {
	width: 100%;
	height: 155px;
	margin-top: 15px;
	border: solid 3px #CECEF6;
	border-radius: 5px;
	background-color: #ffeeee;
}

.message_comment {
	color: gray;
	font-size: 13px;
}

.room_text {
	padding-top: 50px;
}

.balloon-right {
 	position: relative;
	display: inline-block;
 	margin: 5px 10px 5px 0;
	padding: 3px 4px;
	min-width: 50px;
 	max-width: 90%;
 	color: gray;
	font-size: 15px;
 	border: solid 3px #CCC;
 	box-sizing: border-box;
}

.balloon-right:before{
	content: "";
	position: absolute;
	top: 50%;
	right: -24px;
 	margin-top: -12px;
	border: 12px solid transparent;
	border-left: 12px solid #FFF;
 	z-index: 2;
}

.balloon-right:after{
	content: "";
	position: absolute;
	top: 50%;
	right: -30px;
 	margin-top: -14px;
	border: 14px solid transparent;
	border-left: 14px solid #CCC;
 	z-index: 1;
}

.message_header {
	width: 100%;
	text-align: center;
}

.faceicon img{
	margin-top: -20px;
    width: 80px;
    height: auto;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
}

.header_text {
	width: 100%;
}

.balloon-left {
 	position: relative;
	display: inline-block;
 	margin: 1.5em 0 1.5em 15px;
	min-width: 50px;
 	max-width: 90%;
 	color: gray;
	font-size: 15px;
 	border: solid 3px #F6CED8;
 	box-sizing: border-box;
}

.balloon-left:before{
	content: "";
	position: absolute;
	top: 50%;
	left: -24px;
 	margin-top: -12px;
	border: 12px solid transparent;
	border-right: 12px solid #FFF;
 	z-index: 2;
}

.balloon-left:after{
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
 	margin-top: -14px;
	border: 14px solid transparent;
	border-right: 14px solid #F6CED8;
 	z-index: 1;
}

.request_img img {
	margin: 0 13px 0 0;
	width: 150px;
	height: 150px;
	float: left;
}

.request_box {
	width: 420px;
	height: 180px;
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}

.request_send_box {
	width: 420px;
	height: 170px;
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #F5A9BC;
}

.request_box:nth-child(even) {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #F5A9BC;
}

.index_reservation_box {
	width:600px;
	margin: 0 auto;
}

ul.reservation {
  padding: 0;
}

ul.reservation {
  color: #404040;
  border-left: solid 6px #1fa67a;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}


li.reservation {
  color: #404040;
  border-left: solid 6px #1fa67a;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}


li.reservation_top {
  color: white;
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: rgba(0,0,0,.5);
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}