/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require flat-ui
 *= require_tree .
 *= require_self
 *= require toastr
 */

.top_top, .top_middle, .top_image_text_right {font-family: 'Comic Sans MS';}

table {
	border-collapse: collapse;
}

tr {
	border-bottom:1px dashed #ccc;
}

h2{
position: relative;
display: inline-block;
margin-bottom: 1em;
}

h2:before {
content: '';
position: absolute;
bottom: -15px;
display: inline-block;
width: 60px;
height: 5px;
left: 50%;
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
background-color: black;
border-radius: 2px;
}

/*top*/
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.header_box {
	width: 100%;
	height: 100%;
	background-color: blue;
}

.top_image_box {
	/*margin-top: 100px;
	margin-left: 100px;*/
	width: 100%;
}

.FbBtn {
    background-color: #3b5998;
    height: 45px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    border-radius: 4px;
    margin: 20px 0 0 14px;
}

.FbBtn:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 20px;
    height: 20px;
    background-image: url(facebook.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.FbBtnLabel {
    color: #ffffff;
    position: relative;
    top: 13px;
    text-align: center;
    margin: 0 20px 0 50px;
}

.top_image {
	background-position: top center;
	background-image: url(top_image.jpg);
	background-size: cover;
	background-position: fixed;
	position: relative;
	width: 100%;
	height: 900px;
	margin-top: -20px;
/*	-webkit-filter: grayscale(100%);
  	filter: grayscale(100%);fa
*/}

.top_logo_box {
	width: 580px;
}

.top_logo {
	margin: 10px 0 0 176px;
}

.top_image_text_left {
	width: 580px;
	line-height: 16px;
	padding-top: 20px;
	margin-left: 80px;
	padding-left: 100px;
	color: white;
	position: relative;
	float: left;
	display: inline-block;
}

.top_image_text_left h1 {
	font-family: 'arial black';
}

.line1 {
	font-size: 45px;
	line-height: normal;
}

.line1:first-letter {
	color: #b8d200;
	font-size: 60px;
}

.line2 {
	font-size: 45px;
	line-height: 80px;
}

.top_image_text_right {
	width: 660px;
	float: right;
	font-size: 20px;
	margin-top: -66px;
	transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}

.top_image_text_1 {
	margin-left: 120px;
}

.top_image_text_2 {
	margin-left: 40px;
}

.top_image_text_3 {
	margin-left: 140px;
}

.top_image_text_4 {
	margin-left: 230px;
}

.top_image_text_5 {
	margin: 20px 0 0 10px;
}

.top_image_text_6 {
	margin-left: 120px;
}

.top_image_text_7 {
	margin: 20px 0 0 80px;
}

.top_image_text_8 {
	margin: 5px 0 0 120px;
}

.top_header {
	width: 100%;
}

.top_subtitle {
	margin-left: 17px;
	color: white;
}

.top_top {
	width: 520px;
	height: 260px;
	margin: 50px 0 0 150px;
	padding-top: 40px;
	float: left;
	background-color: rgba(0, 0, 0, .3);
	border-radius: 10px;
}

.top_box_1 {
	width: 145px;
	height: 60px;
	background-color: transparent;
	float: left;
	margin: 0 10px 0 14px;
	border: 2px solid black;
}

.top_box_1:hover {
  background-color: rgba(0, 0, 0, .7);
  border: 3px solid white;
}


.top_box_2 {
	width: 145px;
	height: 60px;
	background-color: transparent;
	float: left;
	border: 2px solid black;
	margin: 0 10px 0 10px;
}

.top_box_2:hover {
  background-color: rgba(0, 0, 0, .7);
  border: 3px solid white;
}


.top_middle {
	width: 100%;
}

.top_box_3 {
	width: 145px;
	height: 60px;
	background-color: transparent;
	float: left;
	border: 2px solid black;
	margin: 0 10px 0 10px;
}

.top_box_3:hover {
  background-color: rgba(0, 0, 0, .7);
  border: 3px solid white;
}


.top_box_4 {
	width: 145px;
	height: 60px;
	background-color: transparent;
	float: left;
	border: 2px solid black;
	margin-left: 10px;
}

.top_box_4:hover {
  border: 3px solid white;
  background-color: rgba(0, 0, 0, .7);
}

.google {
	float: left;
	width: 445px;
	height: 50px;
	margin: 20px 0 0 14px;
	padding: 10px 0 18px 0;
	color: black;
	font-size: 17px;
	text-align: center;
	background-color: rgba(255, 255, 255, .6);
	border-radius: 10px;
}

.google:hover {
	position:relative;
	top:2px;
	left:2px;
}


.top_text_1 {
	width:100%;
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
	color: white;
}

.top_text_2 {
	width:100%;
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
	color: white;
}

.top_text_2:hover {
}

.top_text_3 {
	width:100%;
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
	color: white;
}

.top_text_4 {
	width:100%;
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
	color: white;
}

.devise_image_text_left {
	width: 580px;
	line-height: 16px;
	padding-top: 20px;
	margin-left: 80px;
	padding-left: 100px;
	color: white;
	position: relative;
	float: left;
	display: inline-block;
}

.devise_image_text_left h1 {
	font-family: 'arial black';
}

.devise_line1 {
	font-size: 45px;
	line-height: normal;
}

.devise_line1:first-letter {
	color: #b8d200;
	font-size: 60px;
}

.devise_box {
	text-align: center;
	width: 520px;
	height: 300px;
	margin: 184px 0 0 150px;
	float: left;
	background-color: rgba(0, 0, 0, .3);
	border-radius: 10px;
	color: rgba(255, 255, 255, .8);
}

.buttons {
	text-align: center;
}

.btn-default {
	margin-top: 2px;
    border-radius: 0;
    background-color: #CCC;
    color: black;
    font-family: 'Avenir', serif;
}

.btn-report {
	color: white;
	background-color: #b79aa6;
}

.btn-black {
	margin-top: 5px;
    border-radius: 10px;
    background-color: #eae8e1;
    color: #547a73;
    font-family: 'Avenir', serif;
}

.btn-blue {
	background-color: #4ec4d3;
	opacity: 0.9;
}

.btn-blue:hover{
position:relative;
top:2px;
left:2px;
}

.log_in {
	font-size: 30px;
}

.sign_up {
	font-size: 30px;
	margin-top: 3px;
}

.about {
	margin-top: 100px;
}

.triangle_animation {
  animation: Triangle_animation1 0.5s infinite;
}

@keyframes Triangle_animation1{
  50%{
    opacity: 0;
  }
}

/*サインアップ画面*/
.top_box {
	width: 300px;
	text-align: center;
	margin: 0 auto;
	background-color: gray;
	border-radius: 30px;
}

.flash_message {
	margin-top: 30px;
	font-size: 15px;
	text-align: center;
	color: #D53E62;
}

#error_explanation {
	color: #D53E62;
}

/*about*/

header {
	width: 100%;
	float: left;
}

.container-fluid {
	margin-top: 25px;
}

.nav_box {
	width:100%;
	height: 65px;
	float: left;
	border-top: 1px solid #4682b4;
	border-bottom: 1px solid #4682b4;
	background-color: white;
	z-index: 9999;
	position: fixed;
	margin-top: -15px;
}

.nav_list {
	font-size: 30px;
	float: left;
	color: #6a92a5;
}

.about_logo_box {
	float: left;
	margin-left: 39px;
}

.about_logo {
	display: block;
	margin: 0 auto;
}

.nav_right_box {
	float: left;
	width: 30%;
}

.nav_list_item_right {
	float: right;
	padding: 55px 30px 0 20px;
	font-size: 20px;
}

.about_image {
	background-image: url(about_image.jpg);
	background-size: cover;
	width: 100%;
	height: 600px;
}

.subtitle_box {
	height: 300px;
	opacity: 0.6;
	background-color: #FFECE9;
}

.about_subtitle {
	padding-top: 50px;
	font-size: 30px;
	text-align: center;
	border-bottom: solid 1px;
}

.about_text {
	text-align: center;
	font-size: 15px;
	margin-top: 100px;
}

.rules_animation {
	padding-top: 50px;
	text-align: center;
	font-size: 25px;
	animation: Rules_animation1 1s infinite;
}

@keyframes Rules_animation1 {
	50%{
		color: #F7819F;
	}
}

.user_search_box {
	width: 300px;
	float: left;
	padding-top: 33px;
}

.user_search_form {
	border-radius: 20px 0 0 20px;
	width: 250px;
	height: 40px;
	float: left;
	border: 1px solid;
	border-color:  #b8d200;
}

.user_search_button {
	width: 40px;
	height: 40px;
	float: left;
	border-radius: 0 20px 20px 0;
	border: double;
	border-color: #b8d200;
}

.user_search_button:hover {
	background-color: #b8d200;
	color: #fff;
	border-color: #b8d200;
}

.search_box {
	width: 100%;
	height: 320px;
	background : rgba(184, 210, 0, 0.2);
	color: black;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.32);/*影*/
 	padding: 0.5em 1em;
 	background-image: url(search_image.jpg);

}

.search_box h4 {
/*	width: 180px;
    border-bottom: 10px solid #b8d200;*/
    padding: 6px;
    text-align: center;
    color: #535641;
    font-weight: bold;
    letter-spacing: 0.15em;
 }

.area_select{
	width: 180px;
}

.search_form {
	width: 200px;
}

.search_text {
	text-align: center;
}

.search-button {
	width: 60px;
	height: 40px;
	margin: 40px 3px 0 10px;
	border-radius: 10px;
	background-color: #b8d200;
}

.search-button:hover{
position:relative;
top:2px;
left:2px;
}

caption {
	text-align: center;
}

.index_img img {
	width: 250px;
	height: 250px;
	float: left;
}

.index_img:nth-child(3n+2) {
	margin-right: 30px;
	margin-left: 30px;
	width: 200px;
	height: 2
}

.index_img:nth-child(n + 3){
	margin-top: 20px;
}

.index_img:hover {
    transition:all 0.5s ease; /*0.5秒かけて要素を変化させる*/
    opacity: 0.7;/*要素の透明度を指定*/
    filter: alpha(opacity=70); /*ie6、7の透明度指定*/
    /*ちなみにie8の透明度指定はこれ→ -ms-filter: "alpha(opacity=70)";*/
}

.index_box {
	width: 300px;
	height: 450px;
	padding: 15px 0 0 20px;
    margin: 2em 0;
    border: solid 4px #4ec4d3;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}

.requested_button {
	width: 240px;
	height: 34px;
	padding-top: 0.1px;
	text-align: center;
	background-color: #CCC;
	border-radius: 5px;
}

.message_container {
  width: 250px;
　word-wrap:break-all;
  }

.message_container p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.user_info {
	text-align: center;
	margin: 0 auto;
	color: #5d6e93;
}

.user_info_text {
	margin: 30px 0 30px 0;
}

.user_img img {
	width: 330px;
	height: 330px;
	display: block;
	margin: 2px auto;
	border: 6px solid #CCC;
}

.table {
	border: 2px;
}

.student_info {
	text-align: center;
	border-bottom: 1px solid #CCC;
}

.student_info_text {
	margin: 30px 0 30px 0;
	text-align: center;
	color: #547a73;
}

.teacher_info {
	text-align: center;
	border-bottom: 1px solid #CCC;
}

.teacher_info_text {
	margin: 30px 0 30px 0;
	color: #546E7A;
}

.information_box {
	width: 100%;
}

.last_login {
	color: #546E7A;
}

.t-header {
	width: 100%;
	border-bottom: 1px solid #CCC;
	color: #546E7A;
}

.t-information {
	width: 100%;
	color: #546E7A;
	border-bottom: 1px solid #CCC;
}

.t-background {
	width: 100%;
	margin-top: 100px;
	border-bottom: 1px solid #CCC;
	color: #546E7A;
}

.t-bring {
	width: 100%;
	border-bottom: 1px solid #CCC;
	color: #546E7A;
}

.t-place-1 {
	margin: 50px 0 50px 0;
	border-bottom: 1px solid #CCC;
	color: #546E7A;
}

.t-place-2 {
	margin: 50px 0 50px 0;
	border-bottom: 1px solid #CCC;
	color: #546E7A;
}

.t-place-3 {
	margin: 50px 0 50px 0;
	border-bottom: 1px solid #CCC;
	color: #546E7A;
}

.s-header {
	width: 100%;
	border-bottom: 1px solid #CCC;
	color: #547a73;
}

.area_box {
	width: 350px;
	height: 40px;
	background-color: mintcream;
	border-radius: 50px;
	position: inline-block;
	border: 2px solid;
	margin: 0 auto;
}

.s-information {
	border-bottom: 1px solid #CCC;
}

.s-message {
	width: 100%;
	margin-top: 20px;
	border-bottom: 1px solid #CCC;
	color: #547a73;
}

.s-what_to_learn {
	margin: 50px 0 50px 0;
	border-bottom: 1px solid #CCC;
	color: #547a73;
}

.icon-color {
	color: #1fa67a;
}

.reservation {
	padding-top: 50px;
}

.reservation_box {
	width: 600px;
	height: 300px;
	margin: 0 auto ;
	margin-top: 100px;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.side_logo_box {
	margin-top: 8px;
}

.find_s_box {
  margin: 0 auto;
  display: block;
  position: relative;
  text-decoration: none;
  height:35px;
  width: 120px;
  line-height: 37px;
  text-align: center;
  color: #547a73;
  background: transparent;
  border:solid 1px #fff;
  overflow: hidden;
  border: 1px solid #b8d200;
}

.find_s_box:before{
  content:"";
  position: absolute;
  top: 0px;
  left: -110px;
  height:35px;
  width:120px;
  background : rgba(184, 210, 0, 0.6);
  opacity: 0.8;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.find_s_box:hover:before{
  left:0;
}

.find_t_box {
  margin: 4px auto;
  display: block;
  position: relative;
  text-decoration: none;
  height:35px;
  width: 120px;
  line-height: 37px;
  text-align: center;
  color: #547a73;
  background: transparent;
  border:solid 1px #fff;
  overflow: hidden;
  border: 1px solid #b8d200;
}

.find_t_box:before{
  content:"";
  position: absolute;
  top: 0px;
  left: -110px;
  height:35px;
  width:120px;
  background : rgba(184, 210, 0, 0.6);
  opacity: 0.8;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.find_t_box:hover:before{
  left:0;
}

.category_box {
	margin-top: 20px;
    position: relative;
    padding: 40px 0;
    border-top: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
}

.category_box:before, .category_box:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 1px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #CCC;
}

.category_box:before {left: 10px;}
.category_box:after {right: 10px;}
.category_box p {
    margin: 0;
    padding: 0;
}

.office_img {
	margin: 30px 0 0 10px;
	width: 205px;
	height: 60px;
}

.bottom_img {
	margin: 420px 0 0 1100px;
	position: fixed;
	width: 500px;
	height: 500px;
	opacity: 0.7;
}

.request_text {
	text-align: center;
}

.rules_image {
	width: 100%;
	height: 2400px;
	margin-top: -20px;
	background-image: url(top_image.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: top center;
}

.rules_headline {
	text-align: center;
	margin: 0 auto;
	width: 200px;
	height: 100px;
}

.rules_texts {
	text-align: center;
}

.rules_text {
	margin: 0 auto;
	width: 500px;
	padding: 30px 0 30px 0;
	background: rgba(255,255,255,.5);
	border-radius: 20px;
}

.rules_headline {
	border-bottom : 10px;
}

.rules_image1 {
	padding-top: 100px;
}

.rules_image2 {
	padding-top: 100px;
}

.rules_image4 {
	padding-top: 100px;
}

.rules_image5 {
	padding-top: 100px;
}

.rules_image6 {
	padding-top: 100px;
}

.rules_image7 {
	padding-top: 100px;
}

.rules_image8 {
	padding-top: 100px;
}

.rules_image9 {
	padding-top: 100px;
}

.room_box {
	width: 100%;
	height: 155px;
	margin-top: 15px;
	border: double 5px #4ec4d3;
	border-radius: 5px;
	float: left;
}

.message_comment {
	color: gray;
	font-size: 13px;
}

.room_img img {
	margin: 0 13px 0 0;
	width: 150px;
	height: 145px;
	float: left;
}

.room_text {
	padding-top: 50px;
}

.balloon-right {
 	position: relative;
	display: inline-block;
 	margin: 5px 10px 5px 0;
	padding: 3px 4px;
	min-width: 50px;
 	max-width: 90%;
 	color: gray;
	font-size: 15px;
 	border: solid 3px #4ec4d3;
 	box-sizing: border-box;
}

.balloon-right:before{
	content: "";
	position: absolute;
	top: 50%;
	right: -24px;
 	margin-top: -12px;
	border: 12px solid transparent;
	border-left: 12px solid #FFF;
 	z-index: 2;
}

.balloon-right:after{
	content: "";
	position: absolute;
	top: 50%;
	right: -30px;
 	margin-top: -14px;
	border: 14px solid transparent;
	border-left: 14px solid #4ec4d3;
 	z-index: 1;
}

.message_header {
	width: 100%;
	text-align: center;
}

.faceicon img{
	margin-top: -20px;
    width: 70px;
    height: 70px;
    border: solid 3px #CCC;
}

.header_text {
	width: 100%;
}

.balloon-left {
 	position: relative;
	display: inline-block;
 	margin: 1.5em 0 1.5em 15px;
	min-width: 50px;
 	max-width: 90%;
 	color: gray;
	font-size: 15px;
 	border: solid 3px #b8d200;
 	box-sizing: border-box;
}

.balloon-left:before{
	content: "";
	position: absolute;
	top: 50%;
	left: -24px;
 	margin-top: -12px;
	border: 12px solid transparent;
	border-right: 12px solid #FFF;
 	z-index: 2;
}

.balloon-left:after{
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
 	margin-top: -14px;
	border: 14px solid transparent;
	border-right: 14px solid #b8d200;
 	z-index: 1;
}

.request_img img {
	margin: 0 13px 0 0;
	width: 150px;
	height: 150px;
	float: left;
}

.request_img:hover {
    transition:all 0.2s ease; /*0.5秒かけて要素を変化させる*/
    opacity: 0.7;/*要素の透明度を指定*/
    filter: alpha(opacity=70); /*ie6、7の透明度指定*/
    /*ちなみにie8の透明度指定はこれ→ -ms-filter: "alpha(opacity=70)";*/
}

.request_box {
	width: 500px;
	height: 180px;
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}

.request_text {
	margin-top: 20px;
}

.request_send_box {
	width: 420px;
	height: 170px;
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #F5A9BC;
}

.request_box:nth-child(even) {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #F5A9BC;
}

.index_reservation_box {
	width:600px;
	margin: 0 auto;
}

ul.reservation {
  padding: 0;
}

ul.reservation {
  color: #404040;
  border-left: solid 6px #b8d200;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}


li.reservation {
  color: #404040;
  border-left: solid 6px #b8d200;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}


li.reservation_top {
  color: white;
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: rgba(0,0,0,.5);
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}


/*pagination*/

.first {
	padding-left: 30px;
}

.gap {
	margin: 0 0px 40px 40px;
}

.last {
}

.next {
}

.page {
}

.pagination {
	font-family:'arial black';
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 20px;
}

nav .pagination {
	border: 1px red solid;
}

.prev {

}