
.rules_image {
	width: 100%;
	height: 2400px;
	margin-top: -20px;
	background-image: url(top_image.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: top center;
}

.rules_headline {
	text-align: center;
	margin: 0 auto;
	width: 200px;
	height: 100px;
}

.rules_texts {
	text-align: center;
}

.rules_text1 {
	margin: 0 auto;
	width: 500px;
	padding: 30px 0 30px 0;
	background: rgba(255,255,255,.5);
	border-radius: 20px;
}

.rules_text2 {
	margin: 0 auto;
	width: 500px;
	padding: 30px 0 30px 0;
	background: rgba(255,255,255,.5);
	border-radius: 20px;
}

.rules_text3 {
	margin: 0 auto;
	width: 500px;
	padding: 30px 0 30px 0;
	background: rgba(255,255,255,.5);
	border-radius: 20px;
}

.rules_text4 {
	margin: 0 auto;
	width: 500px;
	padding: 30px 0 30px 0;
	background: rgba(255,255,255,.5);
	border-radius: 20px;
}

.rules_text5 {
	margin: 0 auto;
	width: 500px;
	padding: 30px 0 30px 0;
	background: rgba(255,255,255,.5);
	border-radius: 20px;
}

.rules_headline {
	border-bottom : 10px;
}

.rules_image1 {
	padding-top: 100px;
}

.rules_image2 {
	padding-top: 100px;
}

.rules_image3 {
	padding-top: 100px;
}

.rules_image4 {
	padding-top: 100px;
}

.rules_image5 {
	padding-top: 100px;
}

.rules_image6 {
	padding-top: 100px;
}

@media screen and (max-width:750px) {

.top_logo_box {
	margin: 0 auto !important;
	text-align: center;
}

.top_logo {
	text-align: center;
}

.rules_image {
	width: 100%;
	height: 100%;
	margin-top: -20px;
	background-image: url(phone_top.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: top center;
}

.rules_headline {
	text-align: center;
	margin: 0 auto;
	padding-top: 50px;
	width: 200px;
	height: 100px;
}

.rules_headline h2 {
	font-size: 50px;
}

.rules_texts {
	text-align: center;
	float: none;
}

.rules_text {
	margin: 5px 0 0 0;
	width: 100%;
	padding: 30px 0 30px 0;
	background: rgba(255,255,255,.5);
	border-radius: 20px;
}

.rules_headline {
	border-bottom : 10px;
}


.rules_text1 {
	margin: 5px 0 0 0;
	width: 100%;
	padding: 30px 0 30px 0;
	background: rgba(255,255,255,.5);
	border-radius: 20px;
}

.rules_text2 {
	margin: 5px 0 0 0;
	width: 100%;
	padding: 30px 0 30px 0;
	background: rgba(255,255,255,.5);
	border-radius: 20px;
}

.rules_text3 {
	margin: 5px 0 0 0;
	width: 100%;
	padding: 30px 0 30px 0;
	background: rgba(255,255,255,.5);
	border-radius: 20px;
}

.rules_text4 {
	margin: 5px 0 0 0;
	width: 100%;
	padding: 30px 0 30px 0;
	background: rgba(255,255,255,.5);
	border-radius: 20px;
}

.rules_text5 {
	margin: 5px 0 0 0;
	width: 100%;
	padding: 30px 0 30px 0;
	background: rgba(255,255,255,.5);
	border-radius: 20px;
}

.rules_image1 {
	display: none;
	padding-top: 100px;
}

.rules_image2 {
	padding-top: 100px;
}

.rules_image3 {
	padding-top: 100px;
}

.rules_image4 {
	padding-top: 100px;
}

.rules_image5 {
	padding-top: 100px;
}

.rules_image6 {
	padding-top: 100px;
}

}