.student_info {
	text-align: center;
	border-bottom: 1px solid #CCC;
}

.student_info_text h2 {
	margin: 30px 0 30px 0;
	text-align: center;
	color: #547a73;
}

.s-information {
    border-bottom: 1px solid #CCC;
}

.s-message {
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid #CCC;
    color: #547a73;
    white-space: pre-wrap;
}

.s-what_to_learn {
    margin: 25px 0 50px 0;
    border-bottom: 1px solid #CCC;
    color: #547a73;
    white-space: pre-wrap;
}


@media screen and (max-width:750px) {
.student_info {
	text-align: center;
	border-bottom: 1px solid #CCC;
}

.student_info_text h2 {
	margin: 30px 0 30px 0;
	text-align: center;
	color: #547a73;
	font-size: 23px;
}

.s-header {
	width: 100%;
	border-bottom: 1px solid #CCC;
	color: #547a73;
}

.s-information {
	border-bottom: 1px solid #CCC;
}

.s-message {
	width: 100%;
	margin-top: 20px;
	border-bottom: 1px solid #CCC;
	color: #547a73;
}

.s-what_to_learn {
	margin: 50px 0 50px 0;
	border-bottom: 1px solid #CCC;
	color: #547a73;
}

}

@import "users";
@import "teachers";